<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">
    <script>
        var app = angular.module("myApp", []);
        app.controller("myController", function ($scope, $http) {
            $http.get("http://www.w3schools.com/angular/customers.php").success(function (data) {
                $scope.customers = data.records;
            });
            $scope.sortField = "Country";
            $scope.reverse = true;
        });
    </script>
    Search: <input type="text" ng-model="query"/>
    <table>
        <tr>
            <th><a href="" ng-click="sortField = 'Name';reverse = !reverse;">Name</a></th>
            <th><a href="" ng-click="sortField = 'City';reverse = !reverse;">City</a></th>
            <th><a href="" ng-click="sortField = 'Country';reverse = !reverse;">Country</a></th>
        </tr>
        <tr ng-repeat="customer in customers | filter:query | orderBy:sortField:reverse">
            <td>{{customer.Name}}</td>
            <td>{{customer.City}}</td>
            <td>{{customer.Country}}</td>
        </tr>
    </table>
</body>
</html>